body {
    background-image: url("icons/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
    padding: 0.05px;
}

h4{
    color: white;
    font-weight: bold;

}


.text-center{
    padding-top: 150px;
}

.btn-primary{
    width: 350px;
    height: 75px;
    padding-top: 17px;
    font-size: 25px;
    background-color: #3f93b3;
}
.btn-primary:hover{
    background-color: white;
    color: #3f93b3;
}

.btn-primary:active{
    background-color: white;
    color: #1b6d85;
}

.btn-outline-primary{
    height: 50px;
    width: 120px;
    font-weight: bold;
    background-color: #3f93b3;
    color: white;

}


.navbar-nav li{
    font-weight: bold;
    color: #3f93b3;
}

.navbar-nav li:hover{
    background-color: #3f93b3;
}


navbar-right:hover{
    background-color: #3f93b3;
}

.navbar-nav li:active{
    background-color: #1b6d85;
}



.footer{
    position: absolute;
    left: 0;
    bottom: -200px;
    width: 100%;
    background-color: gray;
    color: lightgray;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;

}